<template>
  <v-card>
    <v-app-bar color="dark" elevation="12" justify="center">
      <template>
        <v-tabs class="d-flex justify-space-around">
          <v-tab class="navigation_tab" to="/">Home</v-tab>
          <v-tab class="navigation_tab" to="/map">Map</v-tab>
          <v-tab class="navigation_tab" to="/rules">Rules</v-tab>
          <v-tab class="navigation_tab" to="/scum">SCUM</v-tab>
          <v-tab class="navigation_tab" to="/news">News</v-tab>
          <v-tab class="navigation_tab" to="/discord">Discord</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>
  </v-card>
</template>

<style>
.navigation_tab {
  color: #80ff00;
}
.v-application a {
  color: #80ff00;
}
.v-tab.v-tab {
  color: #80ff00;
}
</style>
