<template style="font-family: 'Comic Sans MS', 'Comic Sans', cursive">
  <v-app>
    <scum-navigation />
    <nuxt />

    <v-footer :absolute="!fixed" app>
      <span>&copy; Scumplay.ru {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import ScumNavigation from '@/components/ScumNavigation.vue'

export default {
  components: {
    'scum-navigation': ScumNavigation,
  },
  data() {
    return {
      fixed: false,
    }
  },
}
</script>
