<template>
  <v-flex id="discord_background">
    <v-main>
      <v-container class="text-center" style="margin-top: 25px">
        <v-flex>
          <v-btn
            class="warning"
            href="https://discord.gg/4q474kdW4s"
            target="_blank"
            router
            exact
          >
            <typical
              :steps="['', 300, 'Discord', 1000]"
              :loop="Infinity"
            ></typical>
          </v-btn>
        </v-flex>
      </v-container>
      <v-row>
        <v-col cols="md-12">
          <v-card>
            <v-card-text style="text-align-last: center">
              <v-btn
                href="https://discord.gg/4q474kdW4s"
                class="warning"
                target="_blank"
              >
                <v-icon>mdi-discord</v-icon>
                <span class="card_text">Connect to channel</span>
              </v-btn>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-main>
  </v-flex>
</template>

<script>
import typical from 'vue-typical'

export default {
  components: {
    typical,
  },
  data() {
    return {}
  },
}
</script>

<style>
.typicalWrapper::after {
  content: '|';
  animation: blink 1s infinite step-start;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#discord_background {
  background: url('/military_station.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.green_title {
  justify-content: center;
  color: #80ff00;
}

.card_text {
  color: #fff;
  text-align: center;
}
</style>
