<template>
  <v-flex id="main_background">
    <v-main>
      <v-container class="text-center green_title" style="height: 80px">
        <typical
          :steps="['Welcome to SCUMPLAY!', 2000]"
          :wrapper="'h1'"
        ></typical>
      </v-container>

      <v-container fluid>
        <v-row>
          <v-col cols="md-4">
            <v-card>
              <v-card-title class="green_title">Cheater Reports</v-card-title>
              <v-card-text style="text-align-last: center">
                <v-btn
                  href="https://docs.google.com/forms/d/14_4S5JV9lgbR3NoCpHT6oTl-CUoMHYwogrUD1h9XgRI/viewform?edit_requested=true"
                  class="warning"
                  target="_blank"
                >
                  <v-icon>mdi-bug</v-icon>
                  <span class="card_text"> Report </span>
                </v-btn>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="md-4">
            <v-card loading>
              <v-card-title class="green_title">
                <span class="green_title">Server: 176.57.173.41:28302</span>
              </v-card-title>
              <v-card-text style="text-align-last: center">
                <v-flex>
                  <v-btn
                    href="steam://connect/176.57.173.41:28302"
                    class="warning"
                    style="text-align-last: center"
                  >
                    <v-icon>mdi-connection</v-icon>
                    <span class="card_text"> Click to connect </span>
                  </v-btn>
                </v-flex>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="md-4">
            <v-card>
              <v-card-title class="green_title">Discord</v-card-title>
              <v-card-text style="text-align-last: center">
                <v-btn
                  href="https://discord.gg/4q474kdW4s"
                  class="warning"
                  target="_blank"
                >
                  <v-icon>mdi-discord</v-icon>
                  <span class="card_text"> Connect to channel </span>
                </v-btn>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="md-4">
            <v-card style="text-align: center">
              <v-card-text>
                <v-btn
                  href="https://www.trackyserver.com/server/848961"
                  class="warning"
                  target="_blank"
                >
                  <v-icon>mdi-vote-outline</v-icon>
                  <span class="card_text"> Vote on TrackyServer.com </span>
                </v-btn>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="md-4">
            <v-card style="text-align: center">
              <v-card-text>
                <v-btn
                  href="https://top-games.net/scum/vote/scumplay"
                  class="warning"
                  target="_blank"
                >
                  <v-icon>mdi-vote-outline</v-icon>
                  <span class="card_text"> Vote on Top-Games.net </span>
                </v-btn>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="md-4">
            <v-card style="text-align: center">
              <v-card-text>
                <v-btn
                  href="https://servera-scum.ru/server/87"
                  class="warning"
                  target="_blank"
                >
                  <v-icon>mdi-vote-outline</v-icon>
                  <span class="card_text"> Vote on servera-scum.ru </span>
                </v-btn>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="md-4">
            <v-card style="text-align: center">
              <v-card-text style="margin-bottom: 0">
                <p style="margin-bottom: 0" class="card_text">
                  Loot / chance: X2
                </p>
                <p style="margin-bottom: 0" class="card_text">35 animals</p>
                <p style="margin-bottom: 0" class="card_text">76 transports</p>
                <p style="margin-bottom: 0" class="card_text">15 puppets</p>
                <p style="margin-bottom: 0" class="card_text">PVE /PVP zones</p>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="md-4">
            <v-card style="text-align: center">
              <v-card-text style="margin-bottom: 0">
                <p style="margin-bottom: 0" class="card_text">
                  Transport (76 pcs):
                </p>
                <p style="margin-bottom: 0" class="card_text">12 Tractor</p>
                <p style="margin-bottom: 0" class="card_text">16 SUV</p>
                <p style="margin-bottom: 0" class="card_text">20 Wheelbarrow</p>
                <p style="margin-bottom: 0" class="card_text">
                  16 Pickup Truck
                </p>
                <p style="margin-bottom: 0" class="card_text">12 Quad</p>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="md-4">
            <v-flex fluid style="text-align: center">
              <a href="/">
                <img
                  style="height: 100px"
                  src="https://cdn.battlemetrics.com/b/horizontal500x80px/10857718.png?foreground=%23EEEEEE&background=%232e2e2e&lines=%232e2e2e&linkColor=%2380ff00&chartColor=%232e2e2e"
                />
              </a>
            </v-flex>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-flex>
</template>

<script>
import typical from 'vue-typical'

export default {
  components: {
    typical,
  },
  data: () => ({}),
}
</script>

<style>
.typicalWrapper::after {
  content: '|';
  animation: blink 1s infinite step-start;
}

.green_title {
  justify-content: center;
  color: #80ff00;
}

.card_text {
  color: #fff;
  text-align: center;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#main_background {
  background: url('/scum2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
