<template>
  <v-flex id="map_background">
    <v-main style="margin-top: 25px">
      <v-card class="mx-auto" max-width="90%">
        <v-container fluid>
          <v-row dense>
            <v-col v-for="card in cards" :key="card.title" :cols="card.flex">
              <v-card>
                <v-img
                  :src="card.src"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="100%"
                >
                  <v-card-title v-text="card.title"></v-card-title>
                </v-img>

                <v-card-actions>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-main>
  </v-flex>
</template>

<script>
export default {
  data: () => ({
    cards: [
      {
        title: 'Map 1',
        src: 'scum_map.jpeg',
        flex: 12,
      },
      {
        title: 'Map 2',
        src: 'scum_map2.png',
        flex: 12,
      },
      {
        title: 'Map 3',
        src: 'scum_map3.jpeg',
        flex: 12,
      },
    ],
  }),
}
</script>

<style>
#map_background {
  background: url('/scum2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
