<template>
  <v-flex id="news_background">
    <v-main>
      <v-row style="margin-top: 25px">
        <v-col cols="md-6">
          <v-card>
            <v-card-title>
              2021.04.02 Scum Island 0.5! Playing on AGC server! Part 2
            </v-card-title>
            <iframe
              width="650"
              height="370"
              src="https://www.youtube.com/embed/yGCcawuoU3Q"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </v-card>
        </v-col>
        <v-col cols="md-6">
          <v-card>
            <v-card-title>
              2021.04.02 Scum Island 0.5 LIVE! Playing on AGC server!
            </v-card-title>
            <iframe
              width="650"
              height="370"
              src="https://www.youtube.com/embed/HQjjeqsZ9Qc"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="md-6">
          <v-card>
            <v-card-title>
              2021.04.02 Scum Game - First shark interaction was Hilarious
            </v-card-title>
            <iframe
              width="650"
              height="370"
              src="https://www.youtube.com/embed/ydcplLKjVAE"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </v-card>
        </v-col>
        <v-col cols="md-6">
          <v-card>
            <v-card-title>
              2021.04.01 Scum 0.5 Patch is here! Playing on AGC Aussie server!
            </v-card-title>
            <iframe
              width="650"
              height="370"
              src="https://www.youtube.com/embed/xDyRRFNu0y8"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="md-6">
          <v-card>
            <v-card-title>
              2021.03.31 Scum 0.5 Update Gameplay LIVE! & Scum Key Giveaway
            </v-card-title>
            <iframe
              width="650"
              height="370"
              src="https://www.youtube.com/embed/ages-A_MFh0"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </v-card>
        </v-col>
        <v-col cols="md-6">
          <v-card>
            <v-card-title>
              2021.03.30 Scum 0.5 Patch is HERE! Exclusive Streamer Access Event
              - 10 SCUM KEYS TO GIVEAWAY
            </v-card-title>
            <iframe
              width="650"
              height="370"
              src="https://www.youtube.com/embed/xhhiX2ujFPg"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </v-card>
        </v-col>
      </v-row>
    </v-main>
  </v-flex>
</template>

<style>
#news_background {
  background: url('/scum1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
