<template>
  <v-flex id="rules_background">
    <v-main>
      <v-container class="text-center" style="margin-top: 25px">
        <v-card class="mx-auto">
          <v-container>
            <v-row>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>General</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>Welcome to SCUMPLAY server website.</p>
                    <p>
                      Stay polite and objective. Ingame you can not take admin
                      or mod names as player names.
                    </p>
                    <p>
                      Do not use verbal abuse, fecal and vulgar language,
                      pejorative (misanthropic, extremist, racist, sexist,
                      pornographic, discriminatory) concepts and nothing as such
                      could be understood.
                    </p>
                    <p>Respect other players and do not hinder them.</p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>Rules of conduct</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>
                      Repeating a sentence, word or symbol (spam) multiple times
                      is is prohibited.
                    </p>
                    <p>
                      The predominant use of Capslock (writing whole sentences
                      in whole sentences in capital letters) is prohibited.
                    </p>
                    <p>
                      Third-party advertising or the courtship of other members
                      (fishing) is prohibited.
                    </p>
                    <p>
                      Threats, blackmail, disrespectful or provocative
                      statements are to be omitted.
                    </p>
                    <p>
                      The exploitation and spreading of bugs on the server is
                      prohibited.
                    </p>
                    <p>
                      Avatars or usernames may not be misanthropic, racist,
                      sexist, pornographic or be discriminatory.
                    </p>
                    <p>
                      Changing Channels to disturb other people is not allowed
                      (Channel-Hopping).
                    </p>
                    <p>
                      Formatting of a text is reserved for members with a
                      leading role only.
                    </p>
                    <p>
                      The insertion of real imagery through external links,
                      photos or videos that glorify violence are forbidden.
                    </p>
                    <p>
                      Public trading of in-game content (items) for real money
                      is prohibited.
                    </p>
                    <p>
                      Members must follow the instructions of members with a
                      management role.
                    </p>
                    <p>
                      To ensure the overview in the various chats, members
                      commit these Regulations. No public: Messages about
                      supposed "cheaters".
                    </p>
                    <p>
                      Complaints, frustration or whining about this
                      discordserver, SCUM or other server members. ▪️ political
                      views. ▪️ double posts / answers.
                    </p>
                    <p>
                      These messages should be forwarded to our mods. These will
                      be after reviewing the facts if necessary decide and act.
                    </p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container fluid>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>Modifications and external programs</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>
                      Modifications to the software "Discord" or "SCUM" are
                      prohibited.
                    </p>
                    <p>
                      Using automated features (bots, macros), using external
                      programs or using them Cheats (hacks) is prohibited.
                    </p>
                    <p>
                      Members who consciously play with cheaters / hackers are
                      also banned without warning.
                    </p>
                    <p>
                      Except here are members who create evidence or members who
                      are only in an ongoing Raid learns that a teammate cheats.
                    </p>
                    <p>
                      Text, image and sound material may be recorded for
                      evidence purposes by a corresponding program, stored and
                      the server of the server to be leaked.
                    </p>
                    <p>
                      The publication of this material is the responsibility of
                      the Server owners.
                    </p>
                    <p>
                      ️ It is forbidden to post a cheat or extreme glitch guide.
                    </p>
                    <p>Streamsniping is prohibited.</p>
                    <p>
                      ️ We do not support bugs that are triggered by
                      modifications.
                    </p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container fluid>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>Support</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>
                      The support only takes place in Discord, NOT ingame, as we
                      are not online 24/7.
                    </p>
                    <p>
                      For support please make a ticket in # -support-ticket,
                      then the admins / supporters will contact you
                    </p>
                    <p>
                      If a player is called into support by admins, this must be
                      followed immediately.
                    </p>
                    <p>
                      If this is not followed, it will be kicked by the server.
                    </p>
                    <p>
                      If nothing happens after the second request, Depending on
                      the severity of the offense, a 2h up to a perma ban is
                      pronounced.
                    </p>
                    <p>
                      The support talk will take place in the beer bunker
                      Discord in the language channel "Waiting for support".
                    </p>

                    <p>
                      Conduct with refunds️ A screenshot or video proof must be
                      created for the support, for the replacement of items /
                      vehicles.
                    </p>
                    <p>Nothing will be replaced without evidence.</p>
                    <p>In the event of abuse, tough action is taken.</p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container fluid>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>Complaints</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>
                      If there are any violations of the rules, a screenshot or
                      video evidence must be taken for support.
                    </p>
                    <p>
                      In principle, we endeavor to treat offenses in an
                      appropriate manner. Should you feel unfairly treated, so
                      you can sign up with our mods, supporters or admins.
                    </p>
                    <p>
                      There, depending on the seriousness of the offense and
                      evidence, your punishment may be diminished, or perhaps
                      also completely lifted.
                    </p>
                    <p>
                      The server team is under no obligation to provide
                      information about players, bans, kicks and other offenses
                      or through internal processes.
                    </p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container fluid>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer> Player Report</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>
                      If you feel bothered by someone, have problems or
                      questions or want to report a player, which obviously
                      violates the rules, this is to be done officially.
                    </p>
                    <p>
                      members who have been assigned a role are at your
                      disposal.
                    </p>
                    <p>Please always turn to ours Mods or admins.</p>
                    <p>
                      Targeted false reports are prohibited and will be
                      punished!
                    </p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container fluid>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>Trade</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>
                      Inquiries about trading can be made in the Discord at
                      Cateyes or Xenia.
                    </p>
                    <p>
                      Trading with Cateyes or Xenia takes place exclusively in
                      Trader Safe Zone B2.
                    </p>
                    <p>
                      ️ Building is not allowed in the Tarder Safe Zone, the
                      zone is only intended for trading.
                    </p>
                    <p>You can find the price list in the trade channel.</p>
                    <p>
                      Please sort the items you find for trading in a box. The
                      box is also replaced again empty.
                    </p>
                    <p>
                      On Saturdays (purge day), trading only takes place until 4
                      p.m. ( CEST )
                    </p>
                    <p>
                      ️ On all other days, trading only takes place until 10
                      p.m. ( CEST )
                    </p>
                    <p>
                      Please consider that the admins also have real life and
                      cannot always react immediately!
                    </p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container fluid>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>General rules of the game</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>
                      On our gameserver there are PvP and PvE zones. The PvE
                      zones are A0 and C0.
                    </p>
                    <p>Per Squad from 1 - 4 players is 1 Car allowed.</p>
                    <p>
                      Per Squad from 5 - 7 players is 2 Car allowed. vehicles
                      are allowed per squad as of 8 players.
                    </p>

                    <p>
                      No other vehicles may be hoarded in or at the base beyond
                      the permitted number of vehicles.
                    </p>
                    <p>
                      The parking of additional vehicles in claimed buildings is
                      also prohibited.
                    </p>
                    <p>
                      In addition, creating multiple squads to circumvent the
                      vehicle limit is prohibited.
                    </p>
                    <p>The admins reserve the right to intervene.</p>

                    <p>
                      Only 1 flag per base is allowed (second flags to expand
                      the base are no longer allowed)
                    </p>
                    <p>
                      Foundation are to be put on the floor. (nothing may be
                      used to build it on another place)
                    </p>
                    <p>
                      ️ No building on/in Tunnels, bridge, roads and dirt roads.
                    </p>
                    <p>
                      No building on gas station / other gas station options
                    </p>
                    <p>No build on jetties.</p>
                    <p>Trolling prohibited by players.</p>
                    <p>
                      ️ Trolling other players' bases ( with Flag ) is
                      prohibited.
                    </p>
                    <p>
                      Abandoned flags and bases will be destroyed by admin after
                      some time. (at the latest when the base's% number is only
                      40%)
                    </p>
                    <p>
                      ️ Senseless claiming of houses in the PvP zone is
                      prohibited.
                    </p>
                    <p>
                      Should you plan to move from PVP to PVE or PVE to PVP,
                      please report it to an admin.
                    </p>
                    <p>
                      Then you will get the information on what to look out for.
                    </p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container fluid>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>PVP Zones</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>Please note:</p>
                    <p>
                      Opposing boxes that are in a base or in a locked building,
                      may not be destroyed, but may be looted or taken away.
                    </p>
                    <p>
                      ️ Opposing bases may be raided (takeover possible), but
                      not destroyed senselessly (wooden cabin´s or all walls)
                    </p>
                    <p>
                      Wooden cabin's may only be cracked open. (because
                      otherwise it will destroy completely the wooden cabin´s if
                      you shoot the door)
                    </p>
                    <p>
                      Player in the PvE Zone must not be fired from the PvP
                      Zone.
                    </p>
                    <p>
                      The PVE Zone is not a garage to secure the cars (if we
                      notice that the cars are parked there permanently, they
                      will be deleted)
                    </p>
                    <p>
                      PVP players are not allowed to own a base or a claimed
                      building in the PVE zone.
                    </p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container fluid>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>Mines / traps</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>
                      Laying mines / traps is ONLY allowed within your own base
                      (inside base) for defense and allowed in the claimed
                      object (behind the door), with the exception of securing
                      his vehicle,as long as it is not in the PvE area.
                    </p>
                    <p>
                      Mines / traps must then be removed again when you drive
                      away with the vehicle.
                    </p>
                    <p>
                      Securing your own vehicle through mines/traps in a foreign
                      base is NOT allowed! In the event of abuse, a warning
                      follows, then 24 ban, then 48 ban and then final ban!
                    </p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container fluid>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>Base raid</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>
                      When building a base, make sure that the loot can also be
                      reached during a raid. It is forbidden to build bases in
                      such a way that you cannot reach the loot at all. (nothing
                      may be dismantled so that players don't get a loot)
                    </p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <v-card class="mx-auto">
          <v-container fluid>
            <v-row dense>
              <v-col>
                <v-card color="#385F73">
                  <v-card-title>
                    <v-spacer>Donations</v-spacer>
                  </v-card-title>
                  <v-card-text>
                    <p>This server is privately funded.</p>
                    <p>
                      If you are satisfied with our work and would like to
                      support us.
                    </p>
                    <p>You are welcome to contact us.</p>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>

        <script>
          export default {
            data: () => ({
              image: 'scum1.jpg',
            }),
          }
        </script>
      </v-container>
    </v-main>
  </v-flex>
</template>

<style>
#rules_background {
  background: url('/scum1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
