<template>
  <v-flex id="about_background">
    <v-main>
      <v-card style="margin-top: 25px" class="mx-auto" max-width="90%">
        <v-container fluid>
          <v-row dense>
            <v-col v-for="card in cards" :key="card.title" :cols="card.flex">
              <v-card>
                <v-img
                  :src="card.src"
                  class="white--text align-end"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  height="200px"
                >
                  <v-card-title v-text="card.title"></v-card-title>
                </v-img>

                <v-card-actions>
                  <v-spacer></v-spacer>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-main>
  </v-flex>
</template>

<script>
export default {
  data: () => ({
    cards: [
      {
        title: 'Open World',
        src: 'scum1.jpg',
        flex: 12,
      },
      {
        title: 'PVE zones',
        src: 'scum8.png',
        flex: 6,
      },
      {
        title: 'PVP zones',
        src: 'scum6.png',
        flex: 6,
      },
      {
        title: 'Favorite road trips',
        src: 'scum7.jpeg',
        flex: 6,
      },
      {
        title: 'Beautiful nature',
        src: 'scum2.jpg',
        flex: 6,
      },
      {
        title: 'Survival',
        src: 'scum4.jpg',
        flex: 6,
      },
      {
        title: 'Hardcore',
        src: 'scum3.jpg',
        flex: 6,
      },
    ],
  }),
}
</script>

<style>
#about_background {
  background: url('/scum1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
